{%extends 'admin/base.html'%} {% block content %} {% load static %}
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container-fluid">

                <form action="" id="manage-user">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" value="<?php echo isset($meta['name']) ? $meta['name']: '' ?>" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" value="<?php echo isset($meta['username']) ? $meta['username']: '' ?>" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" value="<?php echo isset($meta['password']) ? $meta['password']: '' ?>" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <i class="far fa-building"></i>
        <h1>Minha Empresa</h1>
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Meu CNPJ</th>
                    <th scope="col">Meu CPF</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in empresa %}
                <tr>
                    <th scope="row">{{emp.nome}}</th>
                    <td>{{emp.email}}</td>
                    <td>{{emp.cnpj}}</td>
                    <td>{{emp.cpf}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}