{%extends 'admin/base.html'%} {% block content %} {% load static %}


<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novo Agendamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="novoagendamento" action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="">Proficional:</label>
                                <select type="text" class="form-control" placeholder="First name" aria-label="First name">
                                    <option value="1">Nome do proficional...</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="">Paciente:</label>
                                <select type="text" class="form-control" placeholder="First name" aria-label="First name">
                                    <option value="1">Nome do paciente...</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Email do proficional:</label>
                                <select type="text" class="form-control" placeholder="First name" aria-label="First name">
                                    <option value="1">Nome do proficional...</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="">Email do paciente:</label>
                                <select type="text" class="form-control" placeholder="First name" aria-label="First name">
                                    <option value="1">Nome do paciente...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label for="">Data:</label>
                            <input type="date" class="form-control" aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="">Hora:</label>
                            <input type="time" class="form-control" aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="">Status:</label>
                            <select type="text" class="form-control" placeholder="First name" aria-label="First name">
                                <option value="1">Confirmado</option>
                                <option value="1">A confirmar</option>
                            </select>
                        </div><br>
                        <input type="submit" class="btn btn-primary" value="Salvar" />
                    </form>
                    <script src="{% static 'assets/js/jquery.js' %}"></script>
                    <script>
                        $('#novoagendamento').submit(function(e) {
                            e.preventDefault();

                            $.ajax({
                                url: "{% url 'home' %}",
                                method: 'POST',
                                data: $(this).serialize(),
                                success: function(resp) {
                                    if (resp.status == 1) {
                                        alert("Data successfully saved", 'success')
                                            /*setTimeout(function() {
                                                location.reload()
                                            }, 1500)*/
                                    }
                                }
                            })
                        })
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="atualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atualizar Agendamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-4">
        <div class="card-header">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"> <i class="fas fa-plus me-1"></i>Novo Agendamento</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th scope="col">Cod</th>
                        <th scope="col">Data e hora</th>
                        <th scope="col">Medico</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if order %} {% for or in order %}
                    <tr>
                        <th scope="row">{{or.id}}</th>
                        <td>{{or.data}}</td>
                        <td><strong>Nome:</strong>{{or.proficional}}. <br> <strong>E-mail:</strong>{{or.email_proficional}}
                        </td>
                        <td><strong>Nome:</strong>{{or.paciente}}. <br> <strong>E-mail:</strong>{{or.email_paciente}}
                        </td>
                        {% if or.status == 'Confirmado' %}
                        <td class="td_status" style="color:#198754;">Thornton</td>
                        {% endif %} {% if or.status == 'Finalizado' %}
                        <td class="td_status" style="color:#0d6efd;">Thornton</td>
                        {% endif %} {% if or.status == 'A confirmar' %}
                        <td class="td_status" style="color:#ffc107;">Thornton</td>
                        {% endif %} {% if or.status == 'Cancelado' %}
                        <td class="td_status" style="color:#dc3545;">Otto</td>
                        {% endif %}

                        <td>
                            <a href="#" class="btn btn-primary btn_atualizar" data-bs-toggle="modal" data-bs-target="#atualizar">Atualizar</a>
                            <a href="#" class="btn btn-danger">Apagar</a>
                        </td>
                    </tr>

                    {% endfor %} {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}