{%extends 'admin/base.html'%} {% block content %} {% load static %}
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="manage-user" method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Digite o nome da sua empresa" name="nome" />
                                <label for="inputFirstName">Nome e Sobrenome</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" name="cpf" />
                                <label for="inputLastName">CPF</label>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" type="email" name="email" placeholder="Digite o nome da sua empresa" />
                                <label for="inputFirstName">E-mail</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" type="text" name="cnpj" placeholder="Enter your last name" />
                                <label for="inputLastName">CNPJ</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" type="tel" name="wapp" placeholder="Digite o nome da sua empresa" />
                                <label for="inputFirstName">Whatsapp</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" type="tel" name="tel" placeholder="Enter your last name" />
                                <label for="inputLastName">Telefone</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" type="password" name="senha" placeholder="Digite o nome da sua empresa" />
                                <label for="inputFirstName">Senha...</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" type="password" name="senha2" placeholder="Enter your last name" />
                                <label for="inputLastName">Repita sua senha...</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button class="btn btn-primary btn-block">Criar Usuario</button></div>
                    </div>
                </form>
                <script src="{% static 'assets/js/jquery.js' %}"></script>
                <script>
                    $('#manage-user').submit(function(e) {
                        e.preventDefault();

                        $.ajax({
                            url: "{% url 'usuario' %}",
                            method: 'POST',
                            data: $(this).serialize(),
                            success: function(resp) {
                                if (resp.status == 1) {
                                    alert("Data successfully saved", 'success')
                                    location.reload();
                                    /*setTimeout(function() {
                                        location.reload()
                                    }, 1500)*/
                                }
                            }
                        })
                    })
                </script>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>



<div class="card mb-4">
    <div class="card-header">
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"> <i class="fas fa-plus me-1"></i> <i class="fas fa-user"></i> Novo Usuario</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Contato</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if usuario %} {% for user in usuario %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.first_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{% if user.contato %} {{user.contato}} {% else %} Sem numero {% endif %}</td>
                    <td>
                        <a href="{% url 'edit_user_admin' %}?user_id={{user.id}}" class="btn btn-primary edit-user">Atualizar</a>
                        <a href="{% url 'delete_user' %}?user_id={{user.id}}" class="btn btn-danger">Apagar</a>
                        <script src="{% static 'assets/js/jquery.js' %}"></script>
                        <script>
                        </script>
                    </td>
                </tr>
                {% endfor %} {% endif %}

            </tbody>
        </table>
    </div>
</div>

{%endblock%}